*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}
ul,ol{
    list-style: none;
}
button, input{
    font: inherit;
}
:focus{
    outline: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}